.container-fluid {
  padding: 0px;
}
.nav-item a {
  color: rgba(255, 255, 255, 0.5);
}
.nav-item a:hover {
  color: rgba(255, 255, 255, 0.8);
}
.navbar-dark .navbar-brand {
  color: rgba(255, 255, 255, 0.5);
}
.navbar-dark .navbar-brand:hover {
  color: rgba(255, 255, 255, 0.8);
}
.btn-input {
  background-color: #fff;
  border: 1px solid #ced4da;
  color: #495057;
  line-height: 1.5;
  border-radius: 0.25rem;
}

.btn-input:hover {
  background-color: #e9ecef;
  border-color: #adb5bd;
  color: #495057;
}
input.form-control.error {
  border-color: #ff0000;
}
.nav-link {
  cursor: pointer;
}
