.border-bottom {
  border-bottom: 1.5px solid #fc0356 !important;
  margin: 10px auto;
}
label.label1 {
  font-weight: bold;
}

.footer {
  background-color: bisque;
  padding: 20px;
}

.btn-search {
  margin: auto 20px;
  background-color: #fc0356;
  color: aliceblue;
}
